XamarinParserDirections/XamarinParserDirections.Android/bin/
XamarinParserDirections/XamarinParserDirections.Android/obj/
XamarinParserDirections/XamarinParserDirections.iOS/obj/
XamarinParserDirections/XamarinParserDirections/bin/
XamarinParserDirections/XamarinParserDirections/obj/
/.vs/XamarinParserDirections/v15
